<section class="software-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="img">
          <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" class="img-fluid" alt="">
        </div>
      </div>



        <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="img">
          <img src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg" class="img-fluid" alt="">
        </div>
      </div>




        <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="img">
          <img src="https://images.pexels.com/photos/1181244/pexels-photo-1181244.jpeg" class="img-fluid" alt="">
        </div>
      </div>




        <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="img">
          <img src="https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg" class="img-fluid" alt="">
        </div>
      </div>




        <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="img">
          <img src="https://images.pexels.com/photos/693859/pexels-photo-693859.jpeg" class="img-fluid" alt="">
        </div>
      </div>




        <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="img">
          <img src="https://images.pexels.com/photos/360591/pexels-photo-360591.jpeg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
