<section class="experience-about">
  <div class="container">
    <div class="col-12">
      <div class="experience-about-head">
        <h5>EXPERIENCE</h5>
        <h6>WORK EXPERIENCE</h6>
      </div>
    </div>




    <div class="experience-info">
      <div class="row">
        <div class="col-lg-1 col-sm-1 col-md-1">
          <div class="icon ">
            <i class="fa-solid fa-pen bg-danger"></i>
          </div>

        </div>

        <div class="col-lg-12 col-sm-11 col-md-11">
          <div class="ex-about">
            <h5>Full Stack Developer <span>2017-2018</span></h5>
            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial
              two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but
              rooms think may.</p>
          </div>
        </div>







        <div class="col-lg-1 col-sm-1 col-md-1">
          <div class="icon-2">
            <i class="fa-solid fa-pen bg-info"></i>
          </div>

        </div>



        <div class="col-lg-12 col-sm-11 col-md-11">
          <div class="ex-about">
            <h5>Front End Developer at Google Company <span>2017-2018</span></h5>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
              One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World
              of Grammar.</p>
          </div>
        </div>





        <div class="col-lg-1 col-sm-1 col-md-1">
          <div class="icon-3">
            <i class="fa-solid fa-pen bg-warning"></i>
          </div>

        </div>

        <div class="col-lg-12 col-sm-11 col-md-11">
          <div class="ex-about">
            <h5>System Analyst <span>2017-2018</span></h5>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
              One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World
              of Grammar..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
