<section class="about-us">
  <div class="container">
    <div class="col-12">
      <div class="about-myinfo">
        <h3>ABOUT US</h3>
        <h4>WHO AM I?</h4>
        <p><span>Hi Im Jackson Ford</span> On her way she met a copy. The copy warned the Little Blind Text, that where
          it came from it would have been rewritten a thousand times and everything that was left from its origin would
          be the word (and) and the Little Blind Text should turn around and return to its own, safe country.</p>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
          day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.</p>
      </div>
    </div>


    <div class="skills">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="info-skills-1">
            <i class="fa-solid fa-lightbulb"></i>
            <p>Graphic Design</p>
          </div>
        </div>


        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="info-skills-2">
            <i class="fa-solid fa-earth-americas"></i>
            <p>Web Design</p>
          </div>
        </div>



        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="info-skills-3">
            <i class="fa-solid fa-database"></i>
            <p>Software</p>
          </div>
        </div>



        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="info-skills-4">
            <i class="fa-solid fa-mobile-screen"></i>
            <p>Applications</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
