<section class="works">
  <div class="container">
    <div class="col-12">
      <div class="works-heading">
        <h5>MY WORK</h5>
        <h6>RECENT WORK</h6>
      </div>
    </div>





    <ul>
      <li><a routerLinkActive="active-nested" routerLink="graphicdesign">Graphic Design</a></li>
      <li><a routerLinkActive="active-nested" routerLink="apps">App</a></li>
      <li><a routerLinkActive="active-nested"  routerLink="software">Software</a></li>
    </ul>

<!-- تقليبة التاتة كمبوننت وكدة ؟ -->
    <router-outlet></router-outlet>



  </div>
</section>
